.custom-bg-primary-dark{
    background-color: #03071d;
}
.custom-bg-primary-light{
    background-color: #222742;
}
.custom-bg-secondary{
    background-color: #ffd166;
}
.custom-bg-gray{

}
.nav-link:hover {
  background-color: rgba(248, 244, 244, 0.5);
}
.dashboard-outlet-item {
    padding: 20px 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.custom-w-login{
    width: 35%;
}
@media only screen and (max-width: 1140px) and (min-width: 570px){

    .custom-w-login{
        width: 60%;
    }
}
@media only screen and (max-width:570px){

    .custom-w-login{
        width: 90%;
    }
}